{{#each results}}
<a href="/{{type}}/{{name}}">
    <div class="result">
        <img src="{{image}}">
        <div class="info">
            <div class="name">{{name}}</div>
            <div class="description">{{description}}</div>
        </div>
    </div>
</a>
{{/each}}
