<div>
    <img src="{{channel.profile_banner}}">
</div>
<div class="name">{{channel.display_name}}</div>
<div class="desc">{{channel.status}}</div>
<iframe src='http://player.twitch.tv/?channel={{channel.display_name}}' muted='true' frameborder='0' scrolling='no' allowfullscreen='true'></iframe>
<div class="playing">Playing {{channel.game}}</div>
<div class="views">Views: {{channel.views}}</div>
<div class="followers">Followers: {{channel.followers}}</div>
