<div class="profile">
    <form method="post" action="/user/{{owner.display_name}}/edit">
        <div class="header">
            <div class="pic">
                <img src="/images/placeholder.png">
            </div>
            <div class="user-info">
                <div class="username">{{owner.display_name}}</div>
                <div class="extra-info">
                    <span class="age">{{age}}</span>
                    &bull;
                    <span class="location">{{owner.location.city}}, {{owner.location.state}}, {{owner.location.country}}</span>
                    &bull;
                    <span class="gender">{{gender}}</span>
                </div>
                <input name="tagline" type="text" class="input-tagline" maxlength="50" value="{{owner.tagline}}">
            </div>
            <div class="right-side">
                <a href="/user/{{owner.display_name}}">
                    <div class="discard-button">Discard</div>
                </a>
            </div>
        </div>
        <div class="about">
            <div class="about-header">About</div>
            <div class="user-name">First Name: <input name="firstname" type="text" class="input-name" value="{{owner.first_name}}"></div>
            <div class="user-name">Last Name: <input name="lastname" type="text" class="input-name" value="{{owner.last_name}}"></div>
            <textarea name="bio" class="input-bio" maxlength="500" rows="7">{{owner.bio}}</textarea>
            <div class="availability-header">Availability</div>
            <div class="availability-type">Weekdays</div>
            <div class="checkbox"><input type="checkbox" name="weekdaysmorning"{{#if owner.availability.weekdays.morning}}checked{{/if}}> Morning</div>
            <div class="checkbox"><input type="checkbox" name="weekdaysday"{{#if owner.availability.weekdays.day}}checked{{/if}}> Day</div>
            <div class="checkbox"><input type="checkbox" name="weekdaysnight"{{#if owner.availability.weekdays.night}}checked{{/if}}> Night</div>
            <div class="checkbox"><input type="checkbox" name="weekdaysnever"{{#if owner.availability.weekdays.never}}checked{{/if}}> Never</div>
            <div class="availability-type">Weekends</div>
            <div class="checkbox"><input type="checkbox" name="weekendsmorning"{{#if owner.availability.weekends.morning}}checked{{/if}}> Morning</div>
            <div class="checkbox"><input type="checkbox" name="weekendsday"{{#if owner.availability.weekends.day}}checked{{/if}}> Day</div>
            <div class="checkbox"><input type="checkbox" name="weekendsnight"{{#if owner.availability.weekends.night}}checked{{/if}}> Night</div>
            <div class="checkbox"><input type="checkbox" name="weekendsnever"{{#if owner.availability.weekends.never}}checked{{/if}}> Never</div>
        </div>
        <div class="fav-games">
            <div class="fav-games-header">Favorite Games</div>
            <div class="games">
                {{#each fav_games}}
                    <input type="text" class="input-game" value="{{name}}">
                {{/each}}
            </div>
        </div>
        <div class="platform steam">
            <div class="header">Steam</div>
            <div class="name">{{owner.accounts.steam.steam_id}}</div>
        </div>
        <div class="platform xbox">
            <div class="header">Xbox</div>
            <div class="name">{{owner.accounts.xbox.gamertag}}</div>
        </div>
        <div class="platform playstation">
            <div class="header">PlayStation Network</div>
            <div class="name">{{owner.accounts.playstation.psn_id}}</div>
        </div>
        <div class="platform twitch">
            <div class="header">Twitch</div>
            <div class="name">{{owner.accounts.twitch.username}}</div>
        </div>
        <div class="all-games">
            <div class="fav-games-header">Games Library</div>
            <div class="games">
                {{#each all_games}}
                    <input type="text" class="input-game" value="{{name}}">
                {{/each}}
            </div>
        </div>
        <input type="submit" value="Save Changes" class="button">
    </form>
</div>