{{#if game.screenshots}}
<div class="banner">
    <img src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_huge/{{game.screenshots.[0]}}.jpg"/>
</div>
{{/if}}
{{game.screenshots.[0]}}
<div class="container">
    {{#if game}}
        <div class="game">
            <img class="boxart" src="{{game.image}}"/>
            <div class="game-info">
                <div class="game-name">{{game.name}}</div>
                <div class="game-description">{{game.description}}</div>
            </div>
        </div>
    {{else}}
        <span>Sorry, your search did not return any results.</span>
    {{/if}}
</div>