{{#if game.screenshots}}
    <img src="{{game.screenshots.[0]}}"/>
    {{game.screenshots.[0]}}
{{/if}}
<img src="{{game.screenshots.[0]}}"/>
{{game.screenshots.[0]}}
<div class="search-results">
    {{#if game}}
        <a href='/{{game.type}}/{{game.name}}'>
            <div class="search-result">
                <img src="{{game.image}}"/>
                <div class="search-info">
                    <div class="search-name">{{game.name}}</div>
                    <div class="search-description">{{game.description}}</div>
                </div>
            </div>
        </a>
    {{else}}
        <span>Sorry, your search did not return any results.</span>
    {{/if}}
</div>