{{#if game.screenshots}}
    <img src="{{game.screenshots.[0]}}"/>
    {{game.screenshots.[0]}}
{{/if}}
<img src="{{game.screenshots.[0]}}"/>
{{game.screenshots.[0]}}
<div class="container">
    {{#if game}}
        <div class="game">
            <img class="boxart" src="{{game.image}}"/>
            <div class="game-info">
                <div class="game-name">{{game.name}}</div>
                <div class="game-description">{{game.description}}</div>
            </div>
        </div>
    {{else}}
        <span>Sorry, your search did not return any results.</span>
    {{/if}}
</div>