{{#if banner}}
<div class="banner">
    <img src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_huge/{{banner}}.jpg"/>
</div>
{{/if}}
<div class="container">
    {{#if game}}
        <div class="game">
            <div class="top">
                <img class="boxart" src="{{game.boxart}}"/>
                <div class="game-name">{{game.display_name}}</div>
                {{#if release}}
                <div class="release-date">{{release}}</div>
                {{/if}}
            </div>
            {{#if game.description}}
            <h1>Description</h1>
            <div class="game-description">{{game.description}}</div>
            {{/if}}
        </div>
    {{else}}
        <span>Sorry, your search did not return any results.</span>
    {{/if}}
</div>