{{#if game.screenshots}}
<div class="banner">
    <img src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_huge/{{game.screenshots.[0]}}.jpg"/>
</div>
{{/if}}
{{game.screenshots.[0]}}
<div class="container">
    {{#if game}}
        <div class="game">
            <div class="top">
                <img class="boxart" src="{{game.boxart}}"/>
                <div class="game-name">{{game.display_name}}</div>
            </div>
            <div class="game-description">{{game.description}}</div>
        </div>
    {{else}}
        <span>Sorry, your search did not return any results.</span>
    {{/if}}
</div>