<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" media="only screen and (min-width: {{mobile}})" href="/stylesheets/desktop/primary.css" />
      <link rel="stylesheet" media="only screen and (max-width: {{desktop}})" href="/stylesheets/mobile/primary.css" />

      <link rel="stylesheet" media="only screen and (min-width: {{mobile}})" href="/stylesheets/desktop/{{css}}.css" />
      <link rel="stylesheet" media="only screen and (max-width: {{desktop}})" href="/stylesheets/mobile/{{css}}.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
