<div class="refinement">
    <form method="get" action="/search">
        <div class="type">
            <div class="category">Users</div>
            <div class="option">
                <div class="option-header">Weekdays Availability</div>
                <div><input type="checkbox" name="weekdaysmorning"> Morning</div>
                <div><input type="checkbox" name="weekdaysday"> Day</div>
                <div><input type="checkbox" name="weekdaysnight"> Night</div>
                <div><input type="checkbox" name="weekdaysnever"> Never</div>
            </div>
            <div class="option">
                <div class="option-header">Weekends Availability</div>
                <div><input type="checkbox" name="weekendsmorning"> Morning</div>
                <div><input type="checkbox" name="weekendsday"> Day</div>
                <div><input type="checkbox" name="weekendsnight"> Night</div>
                <div><input type="checkbox" name="weekendsnever"> Never</div>
            </div>
            <div class="option">
                <div class="option-header">Age</div>
                <input type="number" name="min" min="13" max="100" value="18">
                to
                <input type="number" name="max" min="13" max="100" value="65">
            </div>
            <div class="option">
                <div class="option-header">Gender</div>
                <select name="gender">
                    <option value="0">Any</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                </select>
            </div>
        </div>
        <div class="type">
            <div class="category">Games</div>
        </div>
        <div class="button-container">
            <input type="submit" value="Refine Search" class="button">
        </div>
    </form>
</div>
<div class="query">Showing results for '{{query}}'</div>
<div class="search-results">
{{#each results}}
    <a href='/{{type}}/{{name}}'>
        <div class="search-result">
            <img src="{{image}}"/>
            <div class="search-info">
                <div class="search-name">{{name}}</div>
                <div class="search-description">{{description}}</div>
            </div>
        </div>
    </a>
{{else}}
    <span>Sorry, your search did not return any results.</span>
{{/each}}
</div>
<div class="pagination">
{{#each pages}}
    <a href="/search?type={{../type}}&query={{../query}}&page={{this.page_id}}">
        <span {{#if this.current}}class="current"{{/if}}>{{this.page_id}}</span>
    </a>
{{/each}}
</div>