<div class="query">Showing results for '{{query}}'</div>
<div class="search-results">
{{#each results}}
    <a href='/{{type}}/{{name}}'>
        <div class="search-result">
            <img src="{{image}}"/>
            <div class="search-info">
                <div class="search-name">{{name}}</div>
                <div class="search-description">{{description}}</div>
            </div>
        </div>
    </a>
{{else}}
<span>Sorry, your search did not return any results.</span>
{{/each}}
</div>
<div class="pagination">
{{#each pages}}
    <a href="/search?type={{../type}}&query={{../query}}&page={{this.page_id}}">
        <span {{#if this.current}}class="current"{{/if}}>{{this.page_id}}</span>
    </a>
{{/each}}
</div>