<script src='https://www.google.com/recaptcha/api.js'></script>
<a href="/">
    <img src="/images/logo.png"/>
</a>
<div class="title">Sign up for your account!</div>
<div class="container">
    <form method="post" action="/signup" onsubmit="return validate()">
        <div>
            <label>Username:</label>
            <input type="text" name="username" maxlength="{{config "usernameMaxLength"}}">
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" maxlength="{{config "passwordMaxLength"}}">
        </div>
        <div>
            <label>Confirm Password:</label>
            <input type="password" name="confirmation" maxlength="{{config "passwordMaxLength"}}">
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="email" maxlength="{{config "emailMaxLength"}}">
        </div>
        <div>
            <label>Gender:</label>
            <select name="gender">
                <option value="0">Male</option>
                <option value="1">Female</option>
                <option value="2">Other</option>
            </select>
        </div>
        <div>
            <label>Date of Birth:</label>
            <input type="date" name="date_of_birth">
        </div>
        <div>
            <label>Country:</label>
            <select name="country" id="country"></select>
        </div>
        <div>
            <label>State:</label>
            <select name="state" id="state"></select>
        </div>
        <div>
            <label>City:</label>
            <select name="city" id="city"></select>
        </div>
        <p class="feedback">{{#if error}}{{error}}{{/if}}</p>
        <div class="g-recaptcha" data-sitekey="{{config "recaptcha_client"}}"></div>
        <div class="action-button">
            <input type="submit" value="Sign Up" class="button">
        </div>
    </form>
</div>
<div class="links">
    <a href="/">Home</a>
    <a href="login">Already have an account?</a>
</div>
