<div class="background">
    <img src="/images/backgrounds/{{owner.background}}.png">
</div>
<div class="profile">
    <div class="header">
        <div class="pic">
            <img class="profile-pic" src="/images/profile/{{owner.display_name}}.png">
        </div>
        <div class="user-info">
            <div class="username">{{owner.display_name}}<span class="status {{owner.online_status}}"></span></div>
            <div class="extra-info">
                <span class="age">{{age}}</span>
                &bull;
                <span class="location">{{owner.location.city}}, {{owner.location.state}}, {{owner.location.country}}</span>
                &bull;
                <span class="gender">{{gender}}</span>
            </div>
            <div class="tagline">{{owner.tagline}}</div>
        </div>
        <div class="right-side">
            {{#if is_owner}}
                <a href="{{owner.display_name}}/edit">
                    <div class="edit-profile-button">Edit Profile</div>
                </a>
            {{else}}
            <a href="/messages/{{owner.display_name}}">
                <div class="message-button">Message</div>
            </a>
            {{/if}}
            <div class="profile-one-ups" data-one-up-id="{{owner._id}}" data-one-up-type="user">
                <span class="one-ups-value">{{owner.one_ups.length}}</span>
                <span class="one-ups-button {{#if owner.oneUpped}}one-upped{{/if}}">1UP</span>
            </div>
            <div class="profile-coins">{{owner.coins}} <img class="coin" src="/images/coin.png"></div>
        </div>
    </div>
    <div class="about">
        <div class="about-header">About</div>
        <div class="user-name">{{owner.first_name}} {{owner.last_name}}</div>
        <div class="bio">{{owner.bio}}</div>
        <div class="availability-header"><img src="/images/calendar.png">Availability</div>
        <div class="availability-type">Weekdays</div>
        <ul>
        {{#if owner.availability.weekdays.morning}}
            <li>Morning</li>
        {{/if}}
        {{#if owner.availability.weekdays.day}}
            <li>Day</li>
        {{/if}}
        {{#if owner.availability.weekdays.night}}
            <li>Night</li>
        {{/if}}
        </ul>
        <div class="availability-type">Weekends</div>
        <ul>
        {{#if owner.availability.weekends.morning}}
            <li>Morning</li>
        {{/if}}
        {{#if owner.availability.weekends.day}}
            <li>Day</li>
        {{/if}}
        {{#if owner.availability.weekends.night}}
            <li>Night</li>
        {{/if}}
        </ul>
    </div>
    <div class="fav-games">
        <div class="fav-games-header">Favorite Games</div>
        <div class="games">
        {{#each favorite_games}}
            <div class="game">
                <a href="/game/{{name}}">
                    <img src="https://static-cdn.jtvnw.net/ttv-boxart/{{uri}}-136x190.jpg" class="boxart">
                </a>
                <div class="game-title">{{name}}</div>
            </div>
        {{/each}}
        </div>
    </div>
    {{#if owner.accounts.steam.steam_id}}
    <div class="platform steam">
        <div class="platform-header">
            <img src="/images/steam.png">
            Steam
        </div>
        <hr>
        <div class="steam-profile">
            <a href="{{owner.accounts.steam.profileurl}}" class="steam-name">{{owner.accounts.steam.personaname}}</a>
            <img class="steam-avatar" src="{{owner.accounts.steam.avatarfull}}">
            <div class="steam-games">
                {{#each steam_games}}
                <div class="steam-game">
                    <a href="http://store.steampowered.com/app/{{this.appid}}/">
                        <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{this.appid}}/{{this.img_logo_url}}.jpg">
                    </a>
                    <div class="steam-game-name">{{this.name}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
    {{#if owner.accounts.xbox.gamertag}}
    <div class="platform xbox">
        <div class="platform-header">
            <img src="/images/xbox.png">
            Xbox Live
        </div>
        <hr>
        <div class="platform-name">{{owner.accounts.xbox.gamertag}}</div>
    </div>
    {{/if}}
    {{#if owner.accounts.playstation.psn_id}}
    <div class="platform playstation">
        <div class="platform-header">
            <img src="/images/playstation.png">
            Playstation Network
        </div>
        <hr>
        <div class="platform-name">{{owner.accounts.playstation.psn_id}}</div>
    </div>
    {{/if}}
    {{#if owner.accounts.twitch.username}}
    <div class="platform twitch">
        <div class="platform-header">
            <img src="/images/twitch.png">
            Twitch
        </div>
        <hr>
        <input type="hidden" class="twitch-username" value="{{owner.accounts.twitch.username}}">
        <div class="twitch-profile"></div>
    </div>
    {{/if}}
    <div class="other-games">
        <div class="other-games-header">Other Games</div>
        <div class="games">
        {{#each other_games}}
            <div class="game">
                <a href="/game/{{name}}">
                    <img src="https://static-cdn.jtvnw.net/ttv-boxart/{{uri}}-136x190.jpg" class="boxart">
                </a>
                <div class="game-title">{{name}}</div>
            </div>
        {{/each}}
        </div>
    </div>
</div>