<div class="profile">
    <div class="header">
        <div class="pic">
            <img src="/images/placeholder.png">
        </div>
        <div class="info">
            <div class="username">{{owner.display_name}}<span class="status {{owner.online_status}}"></span></div>
            <div class="extra-info">
                <span class="age">{{age}}</span>
                &bull;
                <span class="location">{{owner.location.city}}, {{owner.location.state}}
                    , {{owner.location.country}}</span>
                &bull;
                <span class="gender">{{gender}}</span>
            </div>
            <div class="tagline">{{owner.tagline}}</div>
        </div>
        <div class="right-side">
            <div class="message-button">Message</div>
            <div class="profile-one-ups">{{owner.one_up_count}} <span class="one-ups-label">1UPs</span></div>
            <div class="profile-coins">{{owner.coins}} <img class="coin" src="/images/coin.png"></div>
        </div>
    </div>
    <div class="about">
        <div class="about-header">About</div>
        <div class="name">{{owner.first_name}} {{owner.last_name}}</div>
        <div class="bio">{{owner.bio}}</div>
    </div>
    <div class="top-games">
        <div class="top-games-header">Top Games</div>
        <div class="games">
            {{#each games}}
                <div class="game">
                    <a href="/game/{{slug}}">
                        <img src="https://static-cdn.jtvnw.net/ttv-boxart/{{boxart}}-136x190.jpg" class="boxart">
                    </a>
                    <div class="game-title">{{name}}</div>
                </div>
            {{/each}}
        </div>
    </div>
</div>