<div class="profile">
<div class="header">
    <div class="pic">
        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png">
    </div>
    <div class="info">
        <div class="username">{{owner.username}}</div>
        <div class="extra-info">
            <span class="age">{{age}}</span>
            &bull;
            <span class="location">{{owner.location.city}}, {{owner.location.state}}, {{owner.location.country}}</span>
        </div>
    </div>
</div>
</div>