<div class="profile">
    <div class="header">
        <div class="pic">
            <img class="profile-pic" src="{{profile_pic}}">
        </div>
        <div class="user-info">
            <div class="username">{{owner.display_name}}<span class="status {{owner.online_status}}"></span></div>
            <div class="extra-info">
                <span class="age">{{age}}</span>
                &bull;
                <span class="location">{{owner.location.city}}, {{owner.location.state}}, {{owner.location.country}}</span>
                &bull;
                <span class="gender">{{gender}}</span>
            </div>
            <div class="tagline">{{owner.tagline}}</div>
        </div>
        <div class="right-side">
            {{#if is_owner}}
                <a href="{{owner.display_name}}/edit">
                    <div class="edit-profile-button">Edit Profile</div>
                </a>
            {{else}}
            <a href="{{owner.display_name}}/message">
                <div class="message-button">Message</div>
            </a>
            {{/if}}
            <div class="profile-one-ups">{{owner.one_up_count}} <span class="one-ups-label">1UP</span></div>
            <div class="profile-coins">{{owner.coins}} <img class="coin" src="/images/coin.png"></div>
        </div>
    </div>
    <div class="about">
        <div class="about-header">About</div>
        <div class="user-name">{{owner.first_name}} {{owner.last_name}}</div>
        <div class="bio">{{owner.bio}}</div>
        <div class="availability-header"><img src="/images/calendar.png">Availability</div>
        <div class="availability-type">Weekdays</div>
        <ul>
        {{#if owner.availability.weekdays.morning}}
            <li>Morning</li>
        {{/if}}
        {{#if owner.availability.weekdays.day}}
            <li>Day</li>
        {{/if}}
        {{#if owner.availability.weekdays.night}}
            <li>Night</li>
        {{/if}}
        {{#if owner.availability.weekdays.never}}
            <li>Never</li>
        {{/if}}
        </ul>
        <div class="availability-type">Weekends</div>
        <ul>
        {{#if owner.availability.weekends.morning}}
            <li>Morning</li>
        {{/if}}
        {{#if owner.availability.weekends.day}}
            <li>Day</li>
        {{/if}}
        {{#if owner.availability.weekends.night}}
            <li>Night</li>
        {{/if}}
        {{#if owner.availability.weekends.never}}
            <li>Never</li>
        {{/if}}
        </ul>
    </div>
    <div class="fav-games">
        <div class="fav-games-header">Favorite Games</div>
        <div class="games">
        {{#each fav_games}}
            <div class="game">
                <a href="/game/{{name}}">
                    <img src="https://static-cdn.jtvnw.net/ttv-boxart/{{uri}}-136x190.jpg" class="boxart">
                </a>
                <div class="game-title">{{name}}</div>
            </div>
        {{/each}}
        </div>
    </div>
    <div class="platform steam">
        <div class="header">Steam</div>
        <div class="platform-name">{{owner.accounts.steam.steam_id}}</div>
    </div>
    <div class="platform xbox">
        <div class="header">Xbox</div>
        <div class="platform-name">{{owner.accounts.xbox.gamertag}}</div>
    </div>
    <div class="platform playstation">
        <div class="header">PlayStation Network</div>
        <div class="platform-name">{{owner.accounts.playstation.psn_id}}</div>
    </div>
    <div class="platform twitch">
        <div class="header">Twitch</div>
        <div class="platform-name">{{owner.accounts.twitch.username}}</div>
    </div>
    <div class="all-games">
        <div class="fav-games-header">Games Library</div>
        <div class="games">
        {{#each all_games}}
            <div class="game">
                <a href="/game/{{name}}">
                    <img src="https://static-cdn.jtvnw.net/ttv-boxart/{{uri}}-136x190.jpg" class="boxart">
                </a>
                <div class="game-title">{{name}}</div>
            </div>
        {{/each}}
        </div>
    </div>
</div>